.container {
  margin: 0 auto;
  max-width: 87.5vw;
  width: 100%;
}
.marquee {
  display: flex;
  align-items: center;
  column-gap: 7.08vw;
  /* height: 100%; */
  height: 9.38vw;
  overflow: hidden;
}